input {
  padding: 1rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, .1);
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;

  &:placeholder {
    color: rgba(0, 0, 0, .5)
  }
}