.profile {
  .card {
    margin-bottom: 1rem;

    &.profile {
      display: flex;

      .photo {
        width: 75px;
        height: 75px;
        max-width: 75px;
        max-height: 75px;
        min-width: 75px;
        min-height: 75px;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1rem;

        img {
          width: 100%;
        }
      }

      .info {
        h1 {
          margin: unset;
        }
      }
    }
  }

}