body {
  font-family: 'Lato', sans-serif;
  background-color: #403F48;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.button {
  border-radius: 5px;
}


.button-con {
  display: flex;

  .button {
    background-color: purple;
    color: white;

    &:hover {
      box-shadow: 0 0 3px 0 white;
    }
  }
}